lib/flows/flows.json
[
    {
        "id": "9ab91bb2.9ce5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45d2f1b693cd52da",
        "type": "subflow",
        "name": "Registrar Contato",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/leveldb.png"
    },
    {
        "id": "f9bc9bac78447565",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "9e5eac024310308f",
        "type": "telegram bot",
        "botname": "servo1_ldp_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7854df66fe21c463",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "32",
        "db": "mongodb+srv://@cluster0.tg5xe.mongodb.net/resolvTestcluster",
        "name": ""
    },
    {
        "id": "4c5cdbb2d3aaa50c",
        "type": "mongodb-var",
        "uri": "mongodb+srv://lucasdpassos:tatooine@cluster0.snzki.mongodb.net/dsCluster?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "153144729e5778a1",
        "type": "aws-signature-auth",
        "displayName": ""
    },
    {
        "id": "6aa5f09a8f4d065c",
        "type": "aws-sdk-config",
        "name": "Lucas",
        "accesskey": "AKIAWNP6IN5KKFZCEJE6",
        "secretkey": "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",
        "region": "us-east-1",
        "iamrole": false
    },
    {
        "id": "205dcbc85c4a4b95",
        "type": "mongodb-var in",
        "z": "9ab91bb2.9ce5d8",
        "service": "_ext_",
        "configNode": "4c5cdbb2d3aaa50c",
        "name": "MongoDB",
        "collection": "leads",
        "operation": "find.toArray",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "8f68d0bc89936372",
                "c9af48a3db5b87ab"
            ]
        ]
    },
    {
        "id": "7d075257be22291d",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/all",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "205dcbc85c4a4b95"
            ]
        ]
    },
    {
        "id": "8f68d0bc89936372",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "http://localhost:8080"
        },
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "c9af48a3db5b87ab",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "816bda38475c9eb1",
        "type": "http in",
        "z": "45d2f1b693cd52da",
        "name": "",
        "url": "/callregister",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "992693205dcd6bb7",
        "type": "mongodb-var in",
        "z": "45d2f1b693cd52da",
        "service": "_ext_",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 320,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4ec06ce4099507d3",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/allnames",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "e058d72fed7fc9ba"
            ]
        ]
    },
    {
        "id": "e058d72fed7fc9ba",
        "type": "mongodb-var in",
        "z": "9ab91bb2.9ce5d8",
        "service": "_ext_",
        "configNode": "4c5cdbb2d3aaa50c",
        "name": "MongoDB",
        "collection": "leads",
        "operation": "aggregate.toArray",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "43e182db8af66753"
            ]
        ]
    },
    {
        "id": "f9c245ff04d3bff9",
        "type": "inject",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e058d72fed7fc9ba"
            ]
        ]
    },
    {
        "id": "43e182db8af66753",
        "type": "function",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "func": "\nmsg.result = [].concat.apply([], Object.values(msg.payload))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "4a3de4739e734729"
            ]
        ]
    },
    {
        "id": "4a3de4739e734729",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "result",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "c1352dd3bdee4a46"
            ]
        ]
    },
    {
        "id": "c1352dd3bdee4a46",
        "type": "function",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "func": "\nmsg.data = msg.payload.map(a => a.nome);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 560,
        "wires": [
            [
                "324aad0faba4cb41"
            ]
        ]
    },
    {
        "id": "324aad0faba4cb41",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "ffb9c24c1e88507f"
            ]
        ]
    },
    {
        "id": "ffb9c24c1e88507f",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "http://localhost:8080"
        },
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "d416f9fd78dedd65",
        "type": "function",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "func": "\nconst update = {\n        \"status\": msg.payload.status       \n};\n\n\nmsg.payload.mongo = [\n    { contato: msg.payload.number },\n    { $set: update },\n    { upsert: true }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 800,
        "wires": [
            [
                "2e773d3913d81c5f"
            ]
        ]
    },
    {
        "id": "2e359cf373793f7b",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/updatestatus",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "d416f9fd78dedd65",
                "03b82fc5e32e93cb"
            ]
        ]
    },
    {
        "id": "e2ebc24bcc78d1fd",
        "type": "mongodb-var in",
        "z": "9ab91bb2.9ce5d8",
        "service": "_ext_",
        "configNode": "4c5cdbb2d3aaa50c",
        "name": "MongoDB",
        "collection": "leads",
        "operation": "update",
        "x": 560,
        "y": 700,
        "wires": [
            [
                "303d93bb79f6d572",
                "31792894acc24e3a"
            ]
        ]
    },
    {
        "id": "303d93bb79f6d572",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "31792894acc24e3a",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "03b82fc5e32e93cb",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 640,
        "wires": []
    },
    {
        "id": "2e773d3913d81c5f",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.mongo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "e2ebc24bcc78d1fd"
            ]
        ]
    }
]