lib/flows/flows.json
[
    {
        "id": "9ab91bb2.9ce5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e5eac024310308f",
        "type": "telegram bot",
        "botname": "servo1_ldp_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7854df66fe21c463",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "32",
        "db": "mongodb+srv://@cluster0.tg5xe.mongodb.net/resolvTestcluster",
        "name": ""
    },
    {
        "id": "4c5cdbb2d3aaa50c",
        "type": "mongodb-var",
        "uri": "mongodb+srv://lucasdpassos:tatooine@cluster0.tg5xe.mongodb.net/resolvTestcluster?retryWrites=true&w=majority",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "cf6ba580.d136e8",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/hook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "da02cb6ebc0e7559",
                "b53c87461e71baf3",
                "8caf7bb91a600a10"
            ]
        ]
    },
    {
        "id": "527b143fa89c4d92",
        "type": "telegram sender",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "bot": "9e5eac024310308f",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "da02cb6ebc0e7559",
        "type": "function",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "func": "msg.payload.type = \"message\"\nmsg.payload.chatId = 1354493990\nmsg.payload.content = `O cliente ${msg.payload.data.st_nome_sac} acabou de realizar uma alteração no cadastro`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "527b143fa89c4d92",
                "ad881a70c4d9014f",
                "205dcbc85c4a4b95"
            ]
        ]
    },
    {
        "id": "b53c87461e71baf3",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "ad881a70c4d9014f",
        "type": "debug",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "8caf7bb91a600a10",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 330,
        "y": 440,
        "wires": []
    },
    {
        "id": "205dcbc85c4a4b95",
        "type": "mongodb-var in",
        "z": "9ab91bb2.9ce5d8",
        "service": "_ext_",
        "configNode": "4c5cdbb2d3aaa50c",
        "name": "",
        "collection": "test",
        "operation": "insert",
        "x": 1130,
        "y": 320,
        "wires": [
            []
        ]
    }
]